/* -----------
 menu responsive
------------- */

@media screen and (max-width:668px) {
    ul li {
        display: none;
    }

    .toggle_menu {
        display: block;
        font-size: 1.9rem;
    }
}


/* -----------
 Hero section responsive
------------- */

@media screen and (max-width:668px) {
    .hero_info h2 {
        margin-top: 20%;
        font-size: 1.7rem;
        line-height: 2.4rem;
        width: 100%;
    }
}

/* -----------
 Featured-1 section responsive
------------- */

@media screen and (max-width: 668px) {

    .features_containeer {
        flex-direction: column-reverse;

    }

    .featured_info {
        width: 100%;
        margin-top: 10%;
        margin-bottom: 5%;
    }

    .feature-title {
        font-size: 1.9rem;
        width: 90%;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
    }

    .featured_info p {
        width: 100%;
        text-align: center;
    }

    .explore-btn {
        margin-left: 20%;
        margin-top: 20px;
    }

    .featured_img {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;

    }
}

/* -----------
 Featured-2 section responsive
------------- */
@media screen and (max-width:668px) {
    .featured-2-container {
        flex-direction: column;
        margin-top: 5%;
        gap: 40px;
    }

    .featured-2-info {
        width: 100%;
    }

    .featured-2-img {
        width: 100%;
    }

    .featured-title h2 {
        font-size: 1.9rem;
        width: 100%;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        margin-left: 20px;
    }

    .experience {
        padding: 30px 20px;
        background-color: var(--secondary-color);
        color: aliceblue;
        text-align: center;
        width: 100%;
        position: absolute;
        bottom: -25%;
        margin-left: 2px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;

    }


}

/* -----------
Some facts section responsive
------------- */
@media screen and (max-width:668px) {

    .some-facts-area {
        margin-top: 40%;
    }

    .some-facts-texts {
        text-align: center;
    }

    .some-facts-header {
        margin: 0 auto;
        font-size: 1.1rem;
        width: 100%;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;

    }

    .some-facts-items {
        flex-direction: column;
        gap: 10px;
        width: 90%;
        margin: auto;
        margin-top: 10%;
    }
}

/* -----------
Team member  section responsive
------------- */
@media screen and (max-width:668px) {

    .team_members_area {
        width: 100%;
    }

    .team_member_container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 20px;
        padding: 40px;
    }

    .team-member-title {
        margin-bottom: 4%;
        width: 100%;
        padding-top: 60px;
        text-align: center;
        font-size: 1.7rem;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 700;
    }
}

/* -----------
sponsors section responsive
------------- */

@media screen and (max-width:668px) {

    .sponsors_names {
        flex-wrap: wrap;
        gap: 20px;
        margin: auto;
    }

        /* -----------
    Footer section responsive
    ------------- */

    .footerinfo {
        text-align: center;
        margin-top: 100px;
        padding: 100px 0px;

    }

}